@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-color: rgb(30 41 59 / 1);
   color: white;
}

.selected {
   color: rgb(236, 233, 34);
}

.word {
   @apply relative mt-0 mr-[6px] mb-1;
}

.wrong {
   @apply text-red-500 underline animate-shake;
}

.right {
   @apply text-green-500;
}
